<!DOCTYPE html>
<html lang="{{lang}}">

{{> partials/head }}

<body class="index grid">
  
  <header class="header" role="banner">

  </header>
  
  <div class="block block-innovate">
    Innovate
  </div>

  <div class="block block-shop">
    Shop
  </div>

  <div class="block block-shop-bg">
    Shop imagery
  </div>

  <div class="block block-drive">
    Drive
  </div>

  <div class="block block-protect">
    Protect
  </div>

  <div class="block block-discover">
    Discover
  </div>

  <div class="block block-discover-bg">
    Discover imagery
  </div>
  
  <div class="block block-travel">
    Travel
  </div>
  
  <div class="block block-travel-bg">
    Travel imagery
  </div>

  <div class="block block-create">
    Create
  </div>

  <div class="block block-create-bg">
    Create imagery
  </div>

  <div class="block block-navigate">
    Navigate
  </div>

  <div class="block block-navigate-bg">
    Navigate imagery
  </div>

  <div class="block block-cure">
    Cure
  </div>

  <div class="block block-cure-bg">
    Cure imagery
  </div>

  <div class="block block-source">
    Source
  </div>

  <div class="block block-source-bg">
    Source imagery
  </div>

  <div class="block block-connect">
    Connect
  </div>

  <div class="block block-believe">
    Believe
  </div>

  <div class="block block-heal">
    Heal
  </div>

  <div class="block block-heal-bg">
    Heal imagery
  </div>

{{> partials/foot }}
